#main {width:954px; margin:0 auto;}

#header {height:398px;}
#header, #content, #footer { font-size:0.75em;}
.emblemToLeftImage{width:207px;}
.col-1, .col-2, .col-3 { float:left;}

/*======= index.html =======*/
#page1 #content .row-1 .col-1 {width:245px; margin-top:49px;}
#page1 #content .row-1 .col-2 { width:709px; }
#page1 #content .row-1 .col-2 .col-1 { width:313px; margin:0 17px 0 0;}
#page1 #content .row-1 .col-2 .col-2 { width:320px;}
#page1 #content .row-2 .col-1 { width:272px; margin-right:58px;}
#page1 #content .row-2 .col-2 { width:275px; margin-right:60px;}
#page1 #content .row-2 .col-3 { width:274px;}

/*======= index-1.html =======*/
#page2 #content .row-1 .col-1 {width:245px; margin-top:49px;}
#page2 #content .row-1 .col-2 { width:709px; }
#page2 #content .row-2 .col-1 { width:272px; margin-right:58px;}
#page2 #content .row-2 .col-2 { width:275px; margin-right:60px;}
#page2 #content .row-2 .col-3 { width:274px;}

/*======= index-2.html =======*/
#page3 #content .row-1 .col-1 {width:245px; margin-top:49px;}
#page3 #content .row-1 .col-2 { width:709px; }
#page3 #content .row-2 .col-1 { width:272px; margin-right:58px;}
#page3 #content .row-2 .col-2 { width:609px;}
#page3 #content .row-2 .col-2 .col-1 { width:198px; margin-right:0;}
#page3 #content .row-2 .col-2 .col-2 { width:393px;}
#page3 #content .row-2 .col-2 .col-2 .col-1 { width:183px; margin-right:26px;}
#page3 #content .row-2 .col-2 .col-2 .col-2 { width:183px;}

/*======= index-3.html =======*/
#page4 #content .row-1 .col-1 {width:245px; margin-top:49px;}
#page4 #content .row-1 .col-2 { width:709px; }
#page4 #content .row-1 .col-2 .col-1 { width:313px; margin:0 17px 0 0;}
#page4 #content .row-1 .col-2 .col-2 { width:320px;}
#page4 #content .row-2 .col-1 { width:272px; margin-right:58px;}
#page4 #content .row-2 .col-2 { width:275px; margin-right:60px;}
#page4 #content .row-2 .col-3 { width:274px;}

/*======= index-4.html =======*/
#page5 #content .row-1 .col-1 {width:245px; margin-top:49px;}
#page5 #content .row-1 .col-2 { width:709px; }
#page5 #content .row-2 .col-1 { width:272px; margin-right:58px;}
#page5 #content .row-2 .col-2 { width:275px; margin-right:60px;}
#page5 #content .row-2 .col-3 { width:274px;}

/*======= index-5.html =======*/
#page6 #content .row-1 .col-1 {width:245px; margin-top:49px;}
#page6 #content .row-1 .col-2 { width:709px; }
#page6 #content .row-2 .col-1 { width:256px; margin-right:74px;}
#page6 #content .row-2 .col-2 { width:609px;}
#page6 #content .row-2 .col-2 .col-1 { width:264px; margin-right:63px;}
#page6 #content .row-2 .col-2 .col-2 { width:264px;}


/*=========================*/

.indent1 h1,h2{color: #3fa0dd;}
#footer {height:86px; background:url(images/footer-bg.gif) no-repeat left top;}