* { margin:0; padding:0;}
body { background:#fff; font-family:Arial, Helvetica, sans-serif; font-size:100%; line-height:1em; color:#fff; min-width:954px;}

input, textarea, select { font-family:Arial, Helvetica, sans-serif; font-size:1em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { width:100%; overflow:hidden;}
.container { width:100%;}

p { margin:0; padding:0;}

.body-bg { background:url(images/body-bg.jpg) no-repeat center top;}
.body-bot { background:url(images/body-bot.gif) no-repeat center bottom;}
.body-tail { background:url(images/body-tail.gif) repeat-y center top;}
.tail-top { background:url(images/tail-top.gif) left top repeat-x;}
.tail-bottom { background:url(images/tail-bottom.gif) left bottom repeat-x;}


/*==================forms====================*/
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}

.form { width:100%; overflow:hidden;}
.form label { color:#fff; display:block; margin-bottom:8px;}
.form input { width:183px; background:#fff; border:0; padding:3px 0 3px 3px; margin-bottom:9px;}
.form span { display:block; padding-right:24px;}
.form a { float:right;}

.form1 { height:26px;}
.form1 input {width:251px; padding:2px 0 2px 3px; background:#fff; border-top:1px solid #303030; border-left:1px solid #303030; border-bottom:1px solid #9f9f9f;  border-right:1px solid #9f9f9f;}
textarea { width:251px; height:147px; overflow:auto; background:#fff;  border-top:1px solid #303030; border-left:1px solid #303030; border-bottom:1px solid #9f9f9f;  border-right:1px solid #9f9f9f; padding:2px 0 0 3px; margin-bottom:20px;}


/*==================list====================*/
ul { list-style:none;}

.site-nav li { float:left; margin-left:19px;background-image: url("/images/m1.gif");height:54px;width:91px;}
.site-nav li:hover{background-image: url("/images/m1-act.gif"); color:#FFF;}
.site-nav li a { font-size: 14px; color: #000; ;text-decoration: none;margin-left: 3px;line-height:54px;}
.site-nav li a:hover{background-image: url("/images/m1-act.gif"); color:#FFF; text-decoration: underline;}

.list { width:100%; padding-bottom:15px;}
.list li { padding-left:10px; background:url(images/marker-1.gif) no-repeat left 5px; color:#fff;}
.list li span { padding-bottom:14px; margin-bottom:14px; border-bottom:1px solid #2a79cf; display:block; overflow:hidden; width:100%;}
.list li a { color:#59ceff;}
.list li.last span { border:0; padding-bottom:0; margin-bottom:0;}

.list1 { width:100%; overflow:hidden; padding-bottom:17px;}
.list1 li { float:left; margin-right:7px;}
.list1 li div { padding-top:17px;}
.list1 li.last { margin-right:0;}

.list2 li { line-height:1.67em; background:url(images/marker-2.gif) no-repeat left 8px; padding-left:9px;}

.list3 { padding-bottom:10px; width:100%;}
.list3 li { padding:0 0 7px 10px; background:url(images/marker-1.gif) no-repeat left 5px; color:#fff;}
.list3 li a { color:#fff;}

.list4 { width:100%; overflow:hidden;}
.list4 li { float:left; margin-right:20px; height:127px;}
.list4 li.last { margin-right:0; border-left:1px solid #59ceff; position:relative;}
.list4 li.last a { position:absolute; top:33px; left:-4px; display:block;}



/*==================other====================*/
.img-box img { margin-bottom:12px; display:block;}

.img-box1 { width:100%; overflow:hidden;}
.img-box1 img { float:left; margin:0 20px 0 0;}
.imgProfileLeft{width:25%;}
.blackFont{color:#000;}
.img-box2 img { margin-bottom:19px; display:block;}

.p1 { margin-bottom:15px;}

.phone { float:right; margin-right:140px;}

.tab { color:#535353; width:100%; border:1px solid #efefef;}
.tab td { text-align:center; border-right:1px solid #efefef; border-bottom:1px solid #efefef; padding:14px 12px 14px 12px; line-height:1.92em;}
.tab td.alt { text-align:left; width:190px;}
.tab tr.first { font-weight:bold;}
.tab tr.first td { text-align:center; padding-top:5px; padding-bottom:5px;}
.tab tr.last td { border-bottom:0;}
.btnLaranja {background-image: url(/images/button-2.gif);width: 93px;height: 27px;border:none;}
.btnTituloRodape {background-image: url(/images/button-5.gif);width: 93px;height: 27px;border:none; display:block;}
.btnTituloRodape a { color:#FFF; text-decoration: none; margin-left: 9px; font-weight: bold; line-height: 27px;}

/*==================txt, links, lines, titles====================*/
a {color:#3fa0dd; outline:none;}
a:hover{text-decoration:none;}
.right-bot-corner li{color:#000;}
.right-bot-corner li a{color:#3fa0dd;}
h3 { color:#3fa0dd; font-size:1em; margin-bottom:17px;}
h4 { color:#3fa0dd; font-size:1em;}

.txt1 { color:#59ceff;}
.txt2 { color:#3fa0dd; font-weight:bold;}

.line-hor { border-bottom:2px solid #efefef; margin:18px 0; overflow:hidden; font-size:0; line-height:0;}
.divider { background:url(images/line-2.gif) repeat-y 298px 0;}
.divider1 { background:url(images/line-2.gif) repeat-y 633px 0;}

.title { margin-bottom:20px;}


/*==================boxes====================*/
.nav-box { width:100%; overflow:hidden; height:121px; background:#fff;}
.nav-box .fleft { padding:27px 0 0 44px;}
.nav-box .fright { padding:37px 46px 0 0;}

.box { width:100%; background:url(images/box-tail.png);}
.box .inner { padding:35px 14px 0 21px;}
.box .title { padding-bottom:12px; background:url(images/line-1.png) repeat-x bottom; margin-bottom:14px;}

.box1 { background:#fff; width:100%;}
.box1 .border-top {background:url(images/border-top.gif) repeat-x top;}
.box1 .border-bot {background:url(images/border-bot.gif) repeat-x bottom;}
.box1 .border-left {background:url(images/border-left.gif) repeat-y left;}
.box1 .border-right {background:url(images/border-right.gif) repeat-y right;}
.box1 .left-top-corner {background:url(images/left-top-corner.gif) no-repeat left top;}
.box1 .right-top-corner {background:url(images/right-top-corner.gif) no-repeat right top;}
.box1 .right-bot-corner {background:url(images/right-bot-corner.gif) no-repeat right bottom; width:100%;}
.box1 .inner { padding:24px 34px 0 20px;}
.box1 p { color:#535353;}


/*header*/
#header .row-1 { height:126px;}
#header .row-1 .indent { padding-top:5px;}
#header .row-2 { height:272px;}
#header .row-2 .indent { padding:101px 0 0 49px; position:relative;}

/*content*/
#content { padding:0 0 39px 0;}
#content .indent { padding-top:49px;}
#content .indent1 { padding-bottom:48px;}
#content .indent2 { padding:29px 0 0 9px;}

/*footer*/
#footer p { padding:30px 0 0 12px;}
#footer p a { color:#3fa0dd; font-weight:bold;}

/*==========================================*/
